.container{
    width: 100%;
}
.carousel .carousel-item{
  height: 800px;
}
.mail{
    margin-right: 1rem;
}
.questions{
   background-color: lightsalmon;
   margin-top: 1rem;
}
.contques{
    margin-top: 1rem;
    background-color: rgba(128, 128, 128, 0.459);
}
.menu1{
    background-color: rgba(112, 128, 144, 0.712);
    font-family: 'Ubuntu', sans-serif;
}
.dodatok{
    margin-top: 2rem;
    background-color: lightgray;
}
body{
    background-image: url(background.png);
}
.photo{
    width: 100%;
}
.about{
    margin-top: 1.5rem;
}.card-header{
    background-color: lightsalmon;
}
.card{
    margin-top: 1.5rem;
}
.lastmenu{
    margin-top: 1.5rem;
}
.pages{
    font-family: 'Righteous', cursive;
}
.about1{
    font-family: 'Righteous', cursive;
}
.resale{
    margin-top: 1.5rem;
}
.resalephoto{
    width: 100%;
    height: 93%;
    margin-top: 1.5rem;
}
.video1{
    margin-top: 1.5rem;
}
.carousel-caption{
    background-color: rgba(255, 160, 122, 0.514);
}